<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)"> -->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName">
<!-- {{serverName}} -->
<button 
    class="btn btn-primary" 
    [disabled]="!addNewServer"
    (click)="onServerCreation()"
    >Add New Server</button>
<p>{{addNewServer}}</p>
<!-- You can also use propety binding instead of interpolation -->
<!-- <p [innerText]="addNewServer"></p> -->
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server Name is: {{serverName}}</p>
<ng-template #noServer>
    <p>No Server Created</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>
